rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
  	match /admins/{document} {
    	allow read: if true;
      allow write: if false;
    }
  
    match /events/{document} {
    	allow read: if true;
      allow create: if exists(/databases/$(database)/documents/admins/$(request.auth.uid)) &&
      	(
        	"title" in request.resource.data &&
        	"description" in request.resource.data &&
          "contents" in request.resource.data &&
          "thumbnail" in request.resource.data &&
          "day" in request.resource.data &&
          "month" in request.resource.data &&
          "year" in request.resource.data &&
          "era" in request.resource.data &&
          "createdAt" in request.resource.data &&
          "updatedAt" in request.resource.data
        );
      allow update: if exists(/databases/$(database)/documents/admins/$(request.auth.uid));
      allow delete: if false;
    }
  }
}