@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.17em;
}
blockquote {
  background: #f6f2ee;
  border-left: 0.25rem solid #ccc;
  padding: 0 0.5rem;
}
li {
  list-style: disc;
  margin-left: 1rem;
}
codeblock {
  background: #f6f2ee;
  border-left: 0.25rem solid #ccc;
  padding: 0 0.5rem;
}
